openapi: 3.2.0
info:
  title: Integration Organisation API
  description: API Integration endpoints documentation
  version: v1
servers:
- url: https://app.tadeus.net/api/integration/v1
security:
- api_key: []
- api_secret: []
tags:
- name: organisation
paths:
  /organisation/:
    parameters: []
    get:
      operationId: organisation_list
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organisation'
      tags:
      - organisation
  /organisation/{id}/:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: organisation_read
      description: ''
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
      tags:
      - organisation
components:
  schemas:
    Organisation:
      required:
      - name
      type: object
      properties:
        uuid:
          title: Uuid
          description: Unique organisation identifier
          type: string
          format: uuid
        name:
          title: Name
          description: Organisation name
          type: string
          maxLength: 255
          minLength: 1
        logo:
          title: Logo
          description: Organisation logo (Light Mode / White Background)
          type:
          - string
          - 'null'
          readOnly: true
          format: uri
        address:
          title: Address
          description: Organisation address
          type: string
          maxLength: 512
        active:
          title: Active
          description: Whether the organisation is active
          type: boolean
        created_at:
          title: Created at
          type: string
          format: date-time
          readOnly: true
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: X-API-KEY-ID
    api_secret:
      type: apiKey
      in: header
      name: X-API-SECRET
